/* Custom variables */
:root {

    /* fonts */
    --nl-title-font: 'Bebas neue', sans-serif;
    --nl-subtitle-font: 'Fira Sans', sans-serif;
    --nl-body-font: 'Roboto', sans-serif;
    --nl-heading-font: 'Bebas neue', sans-serif;




    /* theme colors */
    --nl-primary-color: #BFCCF5;
    --nl-secondary-color: #7693F5;
    --nl-highlight-color: #F4DB9C;
    --nl-dark-color: #202842;
    --nl-light-color: #f2eee4;
    --nl-background-color: rgb(250, 250, 250, .8);


    --nl-font-size: 1.2rem;
    --nl-font-weight: 400;
    --nl-line-height: 1.5rem;
    --nl-title-color: var(--nl-dark-color);
}

/* Element Overrides */
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--nl-heading-font);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--nl-dark-color);
}

/* Bootstrap Overrides */


/* Form Control Overrides */

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: var(--nl-body-font);
    font-size: var(--nl-font-size);
    font-weight: var(--nl-font-weight);
    line-height: var(--nl-line-height);
    color: var(--nl-dark-color);
    background-color: var(--nl-background-color);
    --webkit-text-size-adjust: 100%;
}

header {
    /* image height + 14px */
    padding-top: 74px;
}

.navbar-custom {
    background-color: var(--nl-dark-color);
}


.nav-link {
    color: var(--nl-highlight-color);
}

.mainHeader {
    height: 200px;
    background-color: var(--nl-primary-color);
}

.mainHeader-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mainTitle {
    font-family: var(--nl-title-font);
    font-size: 2.5rem;
    line-height: .6rem;
    color: var(--nl-dark-color);
}

.btn-contact-me {
    background-color: var(--nl-secondary-color);
}

.subTitle {
    font-family: var(--nl-subtitle-font);
    font-size: .6rem;
    line-height: 1rem;
    font-weight: 300;
    letter-spacing: .09rem;
    color: var(--nl-dark-color);
}

.profilePic {
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 7px 10px rgb(0, 0, 0, .5);
}

.section-page {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-page:nth-child(even) {
    background-color: var(--nl-primary-color);
}

.section-page:nth-child(odd) {
    background-color: var(--nl-secondary-color);
}

.devIcons {
    font-size: 4rem;
}

/* make main section take all available space */
main {
    flex: 1 0 auto;
}

section {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* sticky footer */
footer {
    flex-shrink: 0;
}

/* Footer Call to Action */
.footer-cta {
    border-radius: 1rem;
    background-color: var(--nl-secondary-color);
    width: 75%;
}

.footer-bg-cta {
    background: linear-gradient(to bottom,
            var(--nl-background-color),
            var(--nl-background-color) 50%,
            var(--nl-dark-color) 50%,
            var(--nl-dark-color) 100%);
}

.footer-main {
    background-color: var(--nl-dark-color);
    color: var(--nl-light-color);

}

.social-icons {
    font-size: 2rem;
    color: var(--nl-secondary-color);
}

a.social-icons:hover {
    color: var(--nl-highlight-color);
    opacity: 1;
}

/* breakpoints */
@media(min-width: 49.98px) {
    .mainHeader {      
        height: 150px;
    }
}

@media (min-width: 575.98px) {
    .mainHeader {
        height: 225px;     
    }
}

@media (min-width: 767.98px) {
    .mainHeader {
        height: 300px;
    }

    .mainTitle {
        font-size: 4.5rem;
        line-height: 3.5rem;
    }

    .subTitle {
        font-size: 1.2rem;
        line-height: 1rem;
        font-weight: 300;
        letter-spacing: .1rem;
    }
}

@media (min-width: 991.98px) {
    .mainHeader {
        height: 400px;
    }
}

@media (min-width: 1199.98px) {
    .mainHeader {       
        height: 500px;
    }

    .mainTitle {
        font-size: 6rem;
        line-height: 5rem;
    }

    .subTitle {
        font-size: 1.7rem;
        line-height: 1rem;
        font-weight: 300;
        letter-spacing: .1rem;
    }
}

@media (min-width: 1399.98px) {
    .mainHeader {
        height: 500px;
    }
}